<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Principal</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
  <div class="container">
    <h1>Bienvenido el termómetro de emociones</h1>
    <div class="botones-adicionales">
      <a href="/enojo" class="btn btn-inicio">Enojo</a>
      <a href="/rueda-calma" class="btn btn-rueda">Girar la Rueda de la Calma</a>
    </div>
  </div>
</body>
</html>